.main-container {
    width: 1280px;
    margin: 0 auto;
}

.company-introduction {
    height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    font-size: 13px;
}
.new-list{
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    font-size: 13px;
}
.mt-20 {
    margin-top: 20px !important;
}

.panel {
    background-color: #fff;
}

.panel .panel-tit {
    height: 16px;
    line-height: 16px;
    padding: 16px 0;
    position: relative;
}

.panel .panel-tit span {
    background: url("/static/assets/front/images/bg-panel-tit.png") 30px center no-repeat;
    padding-left: 54px;
    font-size: 18px;
    color: #333;
}

.panel .panel-tit .tit-more {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #999;
    font-size: 12px;
}

.company-introduction .panel-bd {
    padding: 0 30px;
}

.company-info-contact {
    width: 272px;
    float: left;
}

.company-info-contact ul {
    padding-right: 40px;
}

.company-info-contact li {
    position: relative;
    margin-bottom: 11px;
}

.company-info-contact li .contact-tit {
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}

.company-info-contact li .contact-bd {
    color: #666;
}

.company-info-contact li > div {
    padding-left: 48px;
    overflow: hidden;
}

.page-index .company-info-content {
    width: 900px;
    float: right;
    padding-left: 45px;
    border-left: 1px dashed #e8e8e8;
    font-size: 13px;
}

.page-index .introduction {
    line-height: 30px;
    height: 218px;
    color: #666;
    position: relative;
    overflow: hidden;
    text-indent: 2em;
}

.page-index .introduction .company-img {
    float: left;
    margin: 0 20px 0 0;
    width: 285px;
    height: 218px;
    text-indent: 0;
}

.page-index .introduction img {
    width: 285px;
    height: 218px;
}

.page-index .introduction .company-txt {
    height: 210px;
    overflow: hidden;
}
.sidebar-qq {
    color: #fff;
    margin: 0 5px 0 0;
    border: 1px solid #eee;
    padding: 1px 5px;
    border-radius: 2px;
    display: inline-block;
    background-color: #cc0000;
}

/* product index */
.main .panel {
    background-color: #fff;
}

.panel-bd {
    padding: 20px;
    *zoom: 1;
}

.list-sort {
    height: 32px;
    line-height: 28px;
    margin-bottom: 20px;
}

.form-input {
    width: 325px;
    position: relative;
    margin-right: 10px !important;
    float: left !important;
}

.form-input .tip {
    position: absolute;
    right: 5px;
    top: 7px;
    height: 16px;
    line-height: 16px;
    color: #c00;
    display: none;
    z-index: 99;
    background-color: #fff;
}

.form-input .icon-search {
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 111;
    background-position: -140px -55px;
    width: 16px;
    height: 16px;
    background: url("/static/assets/front/images/search.png") no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.form-input .input-text {
    width: 325px;
    padding: 0 10px;
    height: 28px;
    display: block;
    line-height: 30px;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    background: #fff;
    vertical-align: middle;
    transition: border-color ease-in-out .2s, box-shadow ease-in-out .2s;
}

.tum {
    float: right;
    display: inline-block;
    font-size: 12px;
}

.mr-5 {
    margin-right: 5px !important;
}

.c-h {
    color: #c00;
}

.sort {
    margin-right: 20px;
    float: left;
    margin-left: 10px !important;
}

.sort .btn-light {
    display: block;
    height: 28px;
    line-height: 28px;
    background: #678be8;
    border-color: #678be8;
    color: #fff;
    border: 1px solid transparent;
    padding: 0 20px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px
}

.main .table {
    table-layout: fixed;
    width: 100%;
    line-height: 1.6;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
}

.main .table th {
    height: 34px;
    background-color: #f4f4f4;
    line-height: 1.154;
    color: #999;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
}

.main .table tbody td, .main .table th {
    padding: 0 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.max-p-tit {
    max-width: 260px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.table tbody td, .table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    box-sizing: content-box;
}

.table a {
    color: #333;
}

.table tbody td {
    border-bottom: 1px solid #eee;
}
.index-no-data {
    height: 385px!important;
    line-height: 150px!important;
    text-align: center!important;
    vertical-align: top!important;
}


/*product detail*/
.mb-20, .my-20 {
    margin-bottom: 20px!important;
}
.preview {
    width: 360px;
    float: left;
    position: relative;
    z-index: 1;
}
.preview .focusbox {
    width: 360px;
    height: 407px;
    overflow: hidden;
}
.preview .focusbox>img {
    width: 358px;
    height: 405px;
    border: 1px solid #eaeaea;
}
.iteminfo {
    width: 567px;
    float: left;
    margin-left: 20px;
}
.iteminfo h2 {
    height: 35px;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 400;
}
.text-truncate {
    overflow: hidden;
    white-space: nowrap;
}
.border-bottom-1 {
    border-bottom: 1px solid #e8e8e8!important;
}
.iteminfo .attribute {
    position: relative;
    margin-bottom: 18px;
    font-size: 12px;
}
.iteminfo .attribute .name {
    width: 70px;
    float: left;
    color: #999;
}
.iteminfo .attribute .value {
    width: 400px;
    float: left;
    margin-left: 20px;
}
.product-details .iteminfo .xiajia {
    background-color: #fffbdb;
    width: 487px;
    height: 200px;
    padding: 5px;
}
.hide {
    display: none;
}
.iteminfo .xiajia-con {
    text-align: center;
    padding-top: 40px;
    width: 487px;
    height: 160px;
    border: 1px dashed #ecdcb4;
}
.fz-18 {
    font-size: 18px;
}
.mb-5, .my-5 {
    margin-bottom: 5px!important;
}
.c-666, a.c-666 {
    color: #666!important;
}
.mb-20, .my-20 {
    margin-bottom: 20px!important;
}
.detail-contact {
    width: 252px;
    height: 405px;
    float: left;
    margin-left: 15px;
    display: inline;
    padding-left: 15px;
    border-left: 1px dashed #eaeaea;
}
.company-name {
    width: 232px;
    height: 36px;
    background: #f4f4f4;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #000;
}
.detail-contact-info {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
}
.detail-contact-info li {
    position: relative;
    margin-bottom: 5px;
    color: #666;
}
.detail-contact-info li .contact-tit {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: #999;
}
.detail-contact-info li>div {
    padding-left: 86px;
    overflow: hidden;
}
.detail-contact-info a {
    color: #fff;
}
.panel-bd:after, .panel-hd:after {
    content: " ";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}
.main {
    width: 1280px;
    display: inline;
}
.mb-20, .my-20 {
    margin-bottom: 20px!important;
}
.tab .tab-head {
    position: relative;
    border-bottom: #eee solid 1px;
    background-color: #f4f4f4;
    height: 56px;
    line-height: 56px;
}
.tab .tab-head .j-tab-title.cur {
    border-color: #326ad0 #eee #fff;
}
.tab .tab-head .j-tab-title.cur {
    background-color: #fff;
    color: #333;
    border-color: #5babe7 #eee #fff;
}
.tab .tab-head .j-tab-title {
    float: left;
    color: #666;
    height: 54px;
    *height: 54px;
    line-height: 54px;
    border: 1px solid #f4f4f4;
    border-top-width: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
}
.tab .tab-head {
    position: relative;
    border-bottom: #eee solid 1px;
    background-color: #f4f4f4;
    height: 56px;
    line-height: 56px;
}
.tab .tab-head .j-tab-title a {
    color: #666;
    padding: 0 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.tab .tab-head .j-tab-title.cur a, .tab .tab-head .j-tab-title.cur a:hover {
    color: #333;
}
.tab .tab-con {
    padding: 15px 20px;
    background-color: #fff;
}
.table-line {
    border-left: #e8e8e8 solid 1px;
    border-top: #e8e8e8 solid 1px;
}
.main .table {
    table-layout: fixed;
    width: 100%;
    line-height: 1.6;
}
.main .table-line {
    border-left: #e8e8e8 solid 1px;
    border-top: #e8e8e8 solid 1px;
}
.main .table tbody td {
    border-bottom: 1px solid #eee;
}
.main .table tbody td, .table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    box-sizing: content-box;
}
.c-999, a.c-999 {
    color: #999!important;
}
.bc-tint2 {
    background-color: #f5f5f5;
}
.main .table tbody td, .table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    box-sizing: content-box;
}

.mb-10, .my-10 {
    margin-bottom: 10px!important;
    font-size: 13px;
}
/*profile*/
.top-banner {
    height: 225px;
    overflow: hidden;
    background: url("/static/assets/front/images/top-banner.jpg") no-repeat;
    margin-bottom: 20px;
    box-shadow: 0 4px 0 rgba(207,207,207,.2);
    padding: 45px 0 0 410px;
}
.top-banner h2 {
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 180px;
}
.top-banner li {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-right: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-banner li span {
    color: #999;
}
.icon-mail-archives, .icon-phone-archives, .icon-tel-archives {
    background: url("/static/assets/front/images/icon.png") no-repeat;
    display: inline-block;
    overflow: hidden;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.icon-tel-archives {
    width: 16px;
    background-position: 0 0;
}
.icon-mail-archives {
    width: 20px;
    background-position: -48px 0;
}
.icon-qq-archives{
    width: 20px;
    height: 16px;
    background: url("/static/assets/front/images/QQ.png") no-repeat 0 0;
    background-size:20px 16px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}