body{
    height: 100%;
    min-width: 1190px;
    color: #333;
}
a{
    outline: 0;
    text-decoration: none;
    color: #333;
}
li, ol, ul {
    list-style: none;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    margin: 0px auto;
    *zoom: 1;
}
.page-index{
    background: #eaf0f5;
}
.header{
    height: 76px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header .container{
    padding-top: 20px;
    width: 1280px;
    margin: 0 auto;
}
.header-logo {
    float: left;
    width: 147px;
    height: 36px;
    display: inline;
    border-right: 1px solid #e4e4e4;
    text-align: left;
}
.header-title {
    display: inline;
    float: left;
    margin-left: 15px;
    line-height: 1.1;
    position: relative;
    z-index: 999;
}
.header-name {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    padding-bottom: 5px;
    display: inline-block;
}
.header-name a {
    max-width: 450px;
    overflow: hidden;
    float: left;
    height: 36px;
    line-height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search {
    float: right;
    position: relative;
}
.search .input-text {
    height: 32px;
    line-height: 32px;
    border: 2px solid #c00;
    float: left;
    padding: 0 10px;
    width: 336px;
    font-size: 13px;
    color: #666;
    background: #fff;
    vertical-align: middle;
}
.search .btn {
    background-color: #c00;
    color: #fff;
    margin-right: 10px;
    float: left;
    padding: 0;
    width: 72px;
    border: none;
    line-height: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0;
}

.signs {
    background: url("/static/assets/front/images/nav_bg.jpg") top center no-repeat;
    height: 176px;
    padding-top: 28px;
}
.signs .container {
    position: relative;
    width: 1280px;
    margin:0 auto;
}
.logo {
    width: 125px;
    height: 125px;
    z-index: 1;
    float: left;
    position: relative;
}
.logo-mask {
    overflow: hidden;
    position: absolute;
    width: 125px;
    height: 125px;
    left: 0;
    top: 0;
    z-index: 2;
}
.logo-img {
    border-radius: 40%;
    overflow: hidden;
    text-align: center;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 2px;
    width: 120px;
    height: 120px;
}
.logo-img img{
    width: 120px;
    height: 120px;
}
.new-font-style {
    color: #fff;
    text-shadow: 0 1px 0 rgba(23,65,123,.4);
}
.title {
    font-size: 24px;
    text-align: left;
    font-weight: 400;
    padding-top: 35px;
    float: left;
    margin-left: 35px;
    line-height: 1.1;
    width: 600px;
}
.main-products {
    line-height: 24px;
    height: 48px;
    padding-top: 15px;
    width: 500px;
    text-indent: -5.5em;
    padding-left: 5.5em;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    margin-left: 35px;
    float: left;
}
.icon-dot {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px!important;
    margin-right: 5px!important;
    font-style: normal;
}
.nav{
    height: 48px;
    width: 100%;
    margin: -24px 0 20px;
    background: #fff;
}
.nav .container {
    position: relative;
    height: 48px;
    z-index: 9;
    background: #fff;
    margin: 0 auto;

}
.nav-list>li.shop-nav-first {
    border-radius: 5px 0 0;
}
.nav-list>li {
    width: 213px;
    height: 44px;
    display: inline;
    float: left;
    font-size: 18px;
    position: relative;
    padding-top: 4px;
}
.nav-list>li>a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #666;
    border-right: 1px dashed #ddd;
    transition: color .2s;
}
.nav-list>li.shop-nav-last {
    border-radius: 0 5px 5px 0;
}

.nav-list>li.active:after {
    content: "";
    width: 153px;
    height: 3px;
    background-color: #306ad0;
    background-image: linear-gradient(to right,#617dd7 0,#306ad0 100%);
    background-clip: content-box,padding-box;
    position: absolute;
    bottom: -1px;
    left: 30px;
}
.footer {
    width: 100%;
    margin-top: 10px;
    background: #fff;
    text-align: center;
}
.footer .copyright{
    height: 50px;
    line-height: 50px;
}
.footer .copyright span{
    margin: 0 5px;
}