<div class="container">
    <div class="main">
        <div class="top-banner">
            <h2>
                <span class="mr-10">{if $lan=='en'}Norton Electronic Technology{else /}诺顿电子科技有限公司{/if}</span>
            </h2>
            <ul>
                <li><span>{if $lan=='en'}Brand Management：{else /}经营品牌：{/if}-</span></li>
                <li><span>{if $lan=='en'}Category Management：{else /}主营分类：{/if}-</span></li>


                <li>
                    <span>{if $lan=='en'}Main Products:{else /}主营产品：{/if}</span>
                </li>

                <li>
                    <span>{if $lan=='en'}Contact Information:{else /}联系方式：{/if}</span>
                    <i class="icon-qq-archives j-popup-side-bottom-left" style="cursor:pointer" title="QQ：163790"></i>
                    <i class="icon-tel-archives j-popup-side-bottom-left" style="cursor:pointer" title="{if $lan=='en'}TEL:{else /}电话：{/if}755-83957712"></i>
                    <i class="icon-mail-archives j-popup-side-bottom-left" style="cursor:pointer" title="{if $lan=='en'}Email:{else /}邮箱：{/if}163790@qq.com "></i>
                </li>
                <li><span>{if $lan=='en'}Company Address:{else /}公司地址：{/if}</span>{if $lan=='en'}28J,ABlock .Duhui 100,Zhonghang Rd Futian Area .Shenzhen{else /}深圳市福田区中航路都汇100号A座28J{/if}</li>
            </ul>
        </div>
        <div class="panel mb-20">
            <div class="panel-tit"><span>{if $lan=='en'}Company Introduction{else /}公司介绍{/if}</span></div>
            <div class="panel-bd pt-0">
                <div class="introduction ti-2 clearfix text-justify" id="introduction" style="height: 240px;">
                    <div class="mroe hide">
                        <button class="btn btn-other j-more-introduction">展开更多</button>
                    </div>
                    {if $lan=='en'}
                    Norton electronicLarge stocks have an independent professional management of the plant throughout the world since the series. After many years of efforts, with many European and American dealers and OEM established a long-term stable relations of cooperation. We have credibility as the lifeline for the company and dedication to customer service.
                    Norton Electronic Technology Co., Ltd was established in 1999, the operating company is involved in all relevant areas such as e-electronic products, cash and more stock companies, brand models complete. Engaged in the sale of electronic products and components of the trade, the current extensive network of electronic procurement and makes Norton more than 3,000 domestic and foreign components suppliers and CEM, OEM has good relations of cooperation. To meet any shortage of customers for the active components and passive components Demand for an effective global manufacturers the fastest access to the shortage of electronic devices .We are very glad to send you our inventory if you need. We could be your bridge to do business with Chinese（HONGKONG） company。
                    {else /}
                    诺顿电子股份有限公司自成立以来，在全球范围内拥有独立的专业管理工厂。经过多年的努力，与众多欧美经销商和OEM建立了长期稳定的合作关系。我们以信誉为生命线，竭诚为客户服务。
                    诺顿电子科技有限公司成立于1999年，经营公司涉及电子产品、现金等多个相关领域的股份公司，品牌型号齐全。从事电子产品及元器件的销售贸易，目前电子采购网络广泛，使诺顿与国内外3000多家元器件供应商及CEM、OEM有着良好的合作关系。为满足客户对有源元件和无源元件的任何短缺需求，为有效的全球制造商提供最快的电子设备短缺途径。
                    如果您需要，我们很高兴向您发送我们的库存。我们可以成为你和中国（香港）公司做生意的桥梁。
                    {/if}
                </div>

            </div>
        </div>
        <!--<div class="panel mb-20">
            <div class="panel-tit">
                <span>工商注册信息</span><em class="c-999">（诚信档案）</em>
            </div>
            <div class="panel-bd pt-0 c-666 fz-14">
                <div class="clearfix">
                    <div class="info-col-1">
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">企业名称</span>
                            **有限公司
                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">法人代表</span>
                            **
                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">成立日期</span>
                            **
                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">营业期限</span>
                            **
                        </div>
                    </div>
                    <div class="info-col-2">
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">注&nbsp;&nbsp;册&nbsp;号</span>

                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">企业类型</span>
                            有限股份公司
                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">注册资本</span>

                        </div>
                        <div class="h-24 mb-10">
                            <span class="c-999 pr-20">年检情况</span>
                            -
                        </div>
                    </div>
                </div>


                <div class="h-24 mb-10">
                    <span class="c-999 pr-20">注册地址</span>

                </div>
                <ul class="lh-24 mb-10 clearfix">
                    <li class="c-999 pr-20 w-60 float-left">经营范围</li>
                    <li class="w-1130 float-left">

                    </li>
                </ul>
            </div>
        </div>-->
    </div>
</div>
<!-- main-content -->
